*{
    color: #f9faf8;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #1f2937;
    max-width: 100%;
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
}

#naruto{
    width: 150px; 
    display: flex;
    flex-shrink: 0;
}

.web{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button{
    display: flex;
    flex-shrink: 0;
    margin: 20px;
    background-color: #3882f6;
    border-radius: 7px;
    border: none;
    padding: 10px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

.nar3{
    padding-left: 190px;
}


.nar2{
    margin-top: 100px;
    padding-bottom: 60px;
}

a{
    text-decoration: none;
    font-weight: bold;   
}

a:hover{
    color: greenyellow;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: auto;
    margin-left: 70px;
    flex-shrink: 0;
}

#naaa1{
    width: 450px;
    padding-top: 80px;
    height: 250px;
} 

.link{
    margin-left: 30px;
}

.mid{
    color: #1f2937;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
}

#naruu{
    height: 160px;
    border: 4px solid red;
    border-radius: 10%;
    color: #1f2937;
}


#sasuke,
#hokage,
#face{
    width: 200px;
    border: 4px solid red;
    border-radius: 10%;
    color: #1f2937;
}

.wrap{
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
   
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    background-color: #e5e7eb;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    padding: 200px;
}

.el{
    color: royalblue;
    padding-left: 500px;
}

.el:hover{
    color: red;
}


.call{
    background-color: #3882f6;
    /* text-align: center; */
    justify-content: center;
    font-size: 24px;
    padding:35px;
    margin: 200px;
    border-radius: 9px;
    max-width: 100%;
}

.time{
    padding-left: 100px;
}
.action{
   padding-left: 100px;
   font-size: 18px;
   font-weight: lighter;
   display: flex;
   
}

#up{
   background-color: #3882f6;
   border: 2px solid white;
   border-radius: 7px;
   margin-left: 150px;
   padding: 10px;
   width: 120px;
   text-align: center;
   justify-content: center;
}

.copy{
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 22px;
}